.mainWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}
